.banner-1-section {
  width: 100%;
  height: 492px; // Altura fixa solicitada
  position: relative;
  z-index: 0; /* Garante que o banner fique abaixo do header */
  overflow: hidden;

  .banner-1-swiper {
    width: 100%;
    height: 100%;
  }

  .banner-1-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

    &__content {
      color: #fff;
      max-width: 100%;
      animation: fadeInUp 0.8s ease-out;
    }
  }
}
.banner-section {
  width: 100%;
  height: 225px; // Altura fixa solicitada
  position: relative;
  z-index: 0; /* Garante que o banner fique abaixo do header */
  overflow: hidden;
  padding-bottom: 6px;

  .banner-swiper {
    width: 100%;
    height: 100%;
  }

  .banner-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    &__content {
      color: #fff;
      max-width: 100%;
      animation: fadeInUp 0.8s ease-out;
    }
  }
}