.blog-section {
  padding: 32px 16px;
  background: #F7F7F7;
  text-align: left;
  &__title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 0px!important;
    padding: 0px!important;
  }

  &__subtitle {
    font-size: 12px;
    color: #777;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 16px;
    padding: 0px!important;
  }
}

.blog-card {
  border-radius: 8px;
  overflow: hidden;
  background: #F7F7F7;
}

.blog-card__image {
  width: 100%;
  height: 241.5px;
  object-fit: cover;
  display: block;
}

.blog-card__content {
  padding: 4px;
}

.blog-card__title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 6px;
}

.blog-card__subtitle {
  font-weight: 300;
  font-size: 12px;
  color: #8A8A8A;
  margin-bottom: 6px;
}
.blog-card__more {
  font-weight: 300;
  font-size: 12px;
  color: #1D1D1D;
}

.blog-card__description {
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}

/* Swiper dots */
.swiper-pagination {
  display: flex !important;
  justify-content: flex-end;
  padding-right: 8px;
}
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #000;
}
