.category-section {
  padding: 30px 0px;
  padding-left: 5px;
  background-color: #fff; // Um fundo claro para destacar

  &__title {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 10px;
    color: #1a1a1a;
  }

  .category-swiper {
    width: 100%;
    // Padding lateral para o Swiper, para que os itens não fiquem colados nas bordas

    .swiper-wrapper {
      padding-bottom: 20px; // Espaço para a scrollbar
    }
  }

  .category-slide {
    width: 135px; // Largura exata para o item da categoria
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; // Evita que os slides tentem diminuir

    .category-item {
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-decoration: none;
      color: #333;
      text-align: left;
      cursor: pointer;
      transition: transform 0.2s ease-out;

      &:hover {
        transform: translateY(-5px);
      }

      &__image {
        width: 135px;
        height: 175px; // Altura exata da imagem
        background-size: cover;
        background-position: center;
        border-radius: 4px; // Cantos levemente arredondados
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
        margin-bottom: 10px;
        flex-shrink: 0; // Garante que a imagem não encolha
      }

      &__name {
        font-size: 14px;
        font-weight: 300;
        font-weight: 300;
        margin: 0!important;
      }
    }
  }

}