// Responsividade para a logo do footer
.footer__logo-wrapper {
  width: 100%;
  max-width: 410px;
  margin: 0 auto 16px auto;
}

.footer__logo-wrapper svg {
  width: 100%;
  height: auto;
  display: block;
}
.footer {
  background: #B11B26;
  color: #fff;
  padding: 32px 0px;
  position: relative;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
  margin-top: 50px;

  a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.9;
  }
}

.footer__section {
  text-align: center;
  margin-bottom: 40px;

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  a {
    display: block;
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
    margin-bottom: 4px;
    opacity: 0.85;
  }
}

.footer__top {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  padding: 4px 6px;
  cursor: pointer;
}
