// Imagem entre header e dropdown
.header-dropdown-image {
  position: fixed;
  top: 66px;
  left: 0;
  width: 80%; 
  z-index: 1100;
  pointer-events: none;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: fixed;
  top: 186px; 
  left: 0;
  width: 80%;
  height: calc(100vh - (60px + 120px));
  
  background: #fff;
  color: #111;
  z-index: 2000;
  overflow-y: auto;
  
  animation: fadeInDown 0.3s ease-out;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0;
    }


  &__close {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.dropdown-menu__content {
  max-width: 1200px;
  margin: 0 auto;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-submenu {
  margin-top: 0.5rem;
  padding-left: 2rem;
  background: #fff;
  text-align: left;
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem !important;
    padding: 5px 0 !important;

    li {
      font-weight: 300 !important; 
      font-size: 14px;
      color: #666;
      a, span {
        font-weight: 300 !important;
        font-size: 14px;
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.dropdown-submenu ul {
  display: flex;
  flex-direction: column;
}
.dropdown-submenu ul li{
  font-weight: 300!important;
}
.dropdown-menu__arrow {
  margin-right: 8px;
  font-size: 14px;
  transition: transform 0.2s;
  transform: rotate(0deg);

  &.open {
    transform: rotate(90deg);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-padding {
  padding: 20px !important;
  width: 100%;
}
.header {
  color: #fff;
  background: transparent;
  transition: background 0.3s, color 0.3s;
  padding: 0px!important;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 80%;
  max-width: 1200px;
  z-index: 1000;
}

.header.header--scrolled {
  background: #fff;
  color: #111;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}
.header div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header div svg {
  color: inherit;
}
.header h1 {
	font-size: 2rem;
	margin: 0;
	font-weight: 700;
	letter-spacing: 1px;
}

.header.with-padding {
    padding: 20px !important;
    padding-left: 12px!important;
    width: 95%!important;
}

.dropdown-menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;

  &.has-children {
    cursor: pointer;
  }
}
